body {
  /* background-image: url("../images/animated.gif"); */
  /* cursor: url(../images/cursor/loldefault.png), auto; */
  /* background-color: #2c3545; */
  /* background-size: cover; */
  color: #f03739;
  min-width: 720px;
}
#zed {
  position: fixed;
  top: 0;
  z-index: -1;
  min-height: 100%;
  min-width: 100%;
}
::selection {
  background: transparent;
}
.titleCard {
  text-align: center;
}
#timerDisplay {
  text-align: center;
  font-size: 3rem;
}
#startButton {
  position: fixed;
  left: 75%;
  top: 80%;
  font-size: 4rem;
}
#startButton:hover {
  cursor: pointer;
  font-size: 4.3rem;
  /* cursor: url(../images/cursor/lolhover.png), auto; */
}

#quizContent {
  text-align: center;
  font-size: 300%;
}
.qPrompt,
.qChoice {
  padding: 30px;
}
.qChoice:hover {
  background: white;
  cursor: pointer;
}
/* style needs rework (╯°□°）╯  */
