body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: white;
  cursor: url(../images/cursor/loldefault.png), auto;
}
#zed {
  position: fixed;
  top: 0;
  z-index: -1;
  min-height: 100%;
  min-width: 100%;
}
#logo {
  position: fixed;
  bottom: 10%;
  right: 45%;
  width: 8%;
}
::selection {
  background: transparent;
}
#timerDisplay {
  color: red;
  text-align: center;
  font-size: 3rem;
}
#startButton {
  position: fixed;
  left: 75%;
  top: 80%;
  font-size: 4rem;
}
#startButton:hover {
  font-size: 4.3rem;
  cursor: url(../images/cursor/lolhover.png), auto;
}

#toTitle {
  position: fixed;
  left: 70%;
  top: 80%;
  font-size: 4rem;
}
#toTitle:hover {
  cursor: url(../images/cursor/lolhover.png), auto;
  font-size: 4.3rem;
}

#quizContent {
  text-align: center;
  font-size: 300%;
  background-color: rgba(0, 0, 0, 0.4);
}

.qPrompt,
.qChoice {
  padding: 30px;
}
.qChoice:hover {
  color: red;
  background: rgba(255, 255, 255, 0.4);
  cursor: url(../images/cursor/lolhover.png), auto;
}
/* style needs rework (╯°□°）╯  */
.scoreCard {
  padding: 20%;
}

.trueAnswer {
  border-style: solid;
  border-color: greenyellow;
  border-width: 3px, 0px;
}
.falseAnswer {
  border-style: solid;
  border-color: red;
  border-width: 3px, 0px;
}
