body {
  /* background-image: url("../images/animated.gif"); */
  /* cursor: url(../images/cursor/loldefault.png), auto; */
  background-color: #2c3545;
  background-size: cover;
  color: #f03739;
  min-width: 720px;
}
::selection {
  background: transparent;
}
.titleCard {
  text-align: center;
}
#timerDisplay {
  text-align: center;
  font-size: 3rem;
}
#startButton {
  position: fixed;
  left: 75%;
  top: 80%;
  font-size: 4rem;
}
#startButton:hover {
  cursor: pointer;
  /* cursor: url(../images/cursor/lolhover.png), auto; */
}

#quizContent {
  text-align: center;
  font-size: 300%;
}
.qChoice:hover {
  background: white;
  cursor: pointer;
}
